.details-wrapper {
  display: grid;
  justify-content: center;
  font-family: Helvetica;
}

.details-box {
  text-align: left;
  border: 1px solid rgba(0,0,0,0.25);
  width: 600px;
  box-shadow: 0 0 10px gray;
  display: grid;
  flex-direction: column;
  position: relative;
  z-index: 999;
}

.box-head {
  background-color: #81829c;
  padding-left: 15px;
  line-height: 45px;
  font-size: 25px;
  color: whitesmoke;
}

.row{
  line-height: 40px;
  display: grid;
  color: #3E3C3C;
}

.detail-row {
  grid-template-columns: 25% auto;
  padding-left: 15px;
  font-size: 20px;
}

.card-row {
  grid-template-columns: auto 35%;
  padding-left: 25px;
  font-size: 16px;
}
.button-row {
  padding: 10px;
  justify-self: center;
  align-self: center;
}

button {
  width: 155px;
  line-height: 40px;
  font-size: 20px;
  background-color: #e6e6e6;
}

button:hover {
  background-color: #f5f5ff;
  cursor: pointer;
  border-width: 2px;
  border-style: outset;
  border-top-color: darkgray;
  border-left-color: darkgray;
  border-bottom-color: rgb(221, 221, 221);
  border-right-color: rgb(221, 221, 221);
  border-bottom-style: inset;
  border-right-style: inset;
}

$slideout-size: 80px;
$neg-slideout-size: -125px;

.slideout-wrapper {
  display: grid;
  grid-template-rows: auto auto;
}

.slideout-header {
  display: grid;
  justify-items: center;
  position: relative;
  top: -20px;
  color: whitesmoke;
}
.card-label {
  background-color: #3E3C3C;
  position: relative;
  top: 56px;
  line-height: 25px;
  padding: 10px;
}

.slideout-box {
  border: 1px solid rgba(0,0,0,0.25);
  box-shadow: 0 0 10px gray;
  height: $slideout-size;
  display: grid;
  grid-template-columns: auto;
}

.input-field {
  display: grid;
  align-self: center;
}

#slideout {
  position: relative;
  top: -30px;
  left: 0;
  -webkit-transition-duration: 1.3s;
  -moz-transition-duration: 1.3s;
  -o-transition-duration: 1.3s;
  transition-duration: 1.3s;
  z-index: 0;
  height: 1px;
}
#slideout_inner {
  position: relative;
  top: $neg-slideout-size;
  -webkit-transition-duration: 1.3s;
  -moz-transition-duration: 1.3s;
  -o-transition-duration: 1.3s;
  transition-duration: 1.3s;
  z-index: 0;
  opacity: 0;
}
#slideout:hover {
  top: $slideout-size;
}
#slideout:hover #slideout_inner {
  top: $neg-slideout-size;
  opacity: 100;
}
