<button routerLink="">Back</button>
<div class="details-wrapper">
  <div class="details-box">
    <div class="box-head"><b>Personal Details</b></div>
    <div class="row detail-row"><b>Name:</b> {{person.first_name}} {{person.last_name}}</div>
    <div class="row detail-row"><b>Email:</b> {{person.email}}</div>
    <div class="row detail-row"><b>Card Info</b></div>
    <div class="row card-row" *ngFor="let card of cards">
      <div><b>Number:</b> {{card.card_number}}</div>
      <div><b>Balance:</b> {{card.balance}}</div>
    </div>
  </div>

  <div id="slideout" class="slideout-wrapper">
    <div class="slideout-header">
      <div class="card-label">New Card</div>
    </div>

    <div id="slideout_inner" class="slideout-box">
      <div class="row card-row">
        <div class="input-field">
          <label><b>Card Number:</b>
            <input [(ngModel)]="this.cardNumber" placeholder="name"/>
          </label>
        </div>
        <div class="button-row">
          <button (click)="addCard()">Add Card</button>
        </div>
      </div>
    </div>
  </div>

</div>



