<div class="wrapper">
  <h1>People</h1>
</div>
<div class="wrapper">
  <div class="box">
    <div routerLink="detail/{{person.id}}" class="name-line" *ngFor="let person of people">{{person.first_name}} {{person.last_name}}</div>
  </div>
</div>
