.wrapper {
  display: flex;
  justify-content: center;
  font-family: Helvetica;
}

.box {
  height: 60vh;
  overflow-y: scroll;
  display: block;
  width: 250px;
  text-align: left;
  border: 1px solid rgba(0,0,0,0.25)
}

.name-line {
  padding-left: 5px;
  font-size: 20px;
  line-height: 28px;
  color: #3E3C3C;
}

.name-line:hover {
  background-color: lightblue;
  cursor: pointer;
}

h1 {
  color: #3E3C3C;
}

.box::-webkit-scrollbar {
  width: 1em;
}

.box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.box::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
